<!-- title -->
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-5 text-center page_titile"><%= t '.title' %></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5  d-flex justify-content-center">
    <div class="col-10">
      <div class="card py-3 border-0">
        <div class="card-body d-flex justify-content-start">
          <div class="d-flex flex-column bd-highlight">
            <div class="p-2 bd-highlight">
              <h5 class="policy_title">お客様から取得する情報</h5>
              <p class="policy_content">当社は、お客様から以下の情報を取得します。</p>
              <ul class="policy_list">
                <li>氏名（ニックネームやペンネーム含む）</li>
                <li>メールアドレス</li>
                <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
                <li>Cookie（クッキー）を用いて生成された識別情報</li>
                <li>当社アプリの起動時間、入力履歴、購買履歴等の当社アプリの利用履歴</li>
              </ul>
              <h5 class="policy_title mt-3">お客様の情報を利用する目的</h5>
              <p class="policy_content">当社は、お客様から取得した情報を以下の目的のために利用します。</p>
              <ul class="policy_list">
                <li>当社サービスに関する登録の受付、お客様の本人確認、認証のため</li>
                <li>お客様の当社サービスの利用履歴を管理するため</li>
                <li>当社サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため</li>
                <li>当社サービスに関するご案内をするため</li>
                <li>お客様からのお問い合わせに対応するため</li>
                <li>当社の規約や法令に違反する行為に対応するため</li>
                <li>当社サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
                <li>当社規約の変更等を通知するため</li>
                <li>以上の他、当社サービスの提供、維持、保護及び改善のため</li>
              </ul>
              <h5 class="policy_title mt-3">安全管理のために講じた措置</h5>
              <p class="policy_content">当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>
              <h5 class="policy_title mt-3">第三者提供</h5>
              <p class="policy_content">当社は、お客様から取得する情報のうち、個人データ（個人情報保護法第2条第6項）に該当するものについては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。</p>
              <p class="policy_content">但し、次の場合は除きます。</p>
              <ul class="policy_list">
                <li>個人データの取扱いを外部に委託する場合</li>
                <li>当社や当社サービスが買収された場合</li>
                <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
                <li>その他、法律によって合法的に第三者提供が許されている場合</li>
              </ul>
              <h5 class="policy_title mt-3">アクセス解析ツール</h5>
              <p class="policy_content">当社は、Googleが提供するアクセス解析ツール「Googleアナリティクス」を利用しています。Googleアナリティクスは、Cookieを使用することでお客様のトラフィックデータを収集しています。お客様はブラウザの設定でCookieを無効にすることで、トラフィックデータの収集を拒否することができます。詳しくはGoogle アナリティクス利用規約をご確認ください。</p>
              <h5 class="policy_title mt-3">プライバシーポリシーの変更</h5>
              <p class="policy_content">当社は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
              <h5 class="policy_title mt-3">お問い合わせ</h5>
              <p class="policy_content">お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のメールアドレスにご連絡ください。</p>
              <p class="policy_content">e-mail</p>
              <p class="policy_content">mirume.personalcolor@gmail.com</p>
              <p class="policy_content">この場合、必ず、運転免許証のご提示等当社が指定する方法により、ご本人からの請求であることの確認をさせていただきます。なお、情報の開示請求については、開示の有無に関わらず、ご申請時に一件あたり1,000円の事務手数料を申し受けます。</p>
              <h5 class="policy_title mt-3">事業者の氏名</h5>
              <p class="policy_content">mirume運営事務局</p>
              <p class="policy_content">2023年01月03日制定</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
