<div class="p-2 bd-highlight d-flex justify-content-center border rounded">
  <div class="container-fluid ">
    <div class="row incorrect_answer_judgement my-2">
      <div class="col d-flex justify-content-center align-items-center">
        <i class="fas fa-times me-2"></i></i>不正解
      </div>
    </div>
    <div class="row answer_explanation mb-1">
      <div class="col d-flex justify-content-center align-items-center">
        この色は<span><%= quiz.color.season_type_i18n %>タイプ</span>です
      </div>
    </div>
    <div class="row answer_color_name mb-2">
      <div class="col d-flex justify-content-center align-items-center">
        色名：<%= quiz.color.name %>
      </div>
    </div>
    <div class="row answer_color_name mb-2">
      <div class="col d-flex justify-content-end align-items-center">
        <%= render 'quizzes/bookmark_button', quiz: quiz %>
      </div>
    </div>
  </div>
</div>