<footer>
    <div class="container">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <%= image_tag 'brand_logo_w.png', class: "footer_logo_size" %>
            </div>
            <div class="p-2 bd-highlight">
                <%= link_to '利用規約', root_path, class: "text-white footer_link" %>
            </div>
            <div class="p-2 bd-highlight">
                <%= link_to 'プライバシーポリシー', root_path, class: "text-white footer_link" %>
            </div>
            <div class="p-2 bd-highlight">
                <%= link_to 'お問合せ', root_path, class: "text-white footer_link" %>
            </div>
        </div>
    <!--/container--></div> 
</footer>