<div class="fixed_button container-fluid d-flex justify-content-center align-items-center">
        <%= link_to root_path, class: "btn text-white" do %>
            <span class="cta_label">無料会員登録</span>
        <% end %>    
</div>
