@import "~bootstrap/scss/bootstrap.scss";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'top';
@import 'before_login_header.scss';
@import 'footer';
@import 'form';
@import 'dashboard';
@import 'flash_message';
@import 'error_messages';
@import 'account_show';
@import 'colors_index';
@import 'color_code';
@import 'color_show';


body {
    background-color: #F8F8F8;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

a { 
    text-decoration:none; 
 }

h1 {
    color: #ffa9ac;
    letter-spacing: .1rem;
    font-size: 1.4em;
}

.title {
    padding-top: 20px; 
}