 header {
    background: linear-gradient(-85deg, #FFB080, #FFB1CA, #CFBAFF, #89E5F8, #FFE279) fixed; 
    background-size: 300% 300%; 
    animation: GradietionAnimation 10s infinite;
  }
 
  .navbar {
    background: rgba(255, 255, 255, 0.3);
  }
 
  .header_logo_size {
    height: 2.5rem;
  }
 