.tab_menu {
    font-size: 11px;
    font-weight: bold;
    border-bottom: solid;
    border-width: thin;
    border-bottom-color: #93A2AC;
    border-radius: 4px 4px 0 0;
    letter-spacing: 0.15rem;
    padding:10px 0;
    margin: 20px 0;
   a {
    color: #93A2AC;
    display: block;
    width: 100%;
    height: 100%;
   }
   a:hover {
    color: #FFB080;
   }
}

.current {
    background: #93A2AC;
    a {
        color: #fff;
    }
}

.color_index_titile {
    color: #93A2AC;
}

.circle{
    width: 100px;
  }
.circle-in{
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #e88;
     /* 動的に色を変えるので後でbackground-color消す */
  }

.color_name {
    font-size: 1em;
    letter-spacing: 0.7zrem;
    a {
        display: block;
        width: 100%;
        height: 100%;
        color: #535E61;
        text-align: center;
       }
    a:hover {
        color: #FFB080;
       }  
}

.favorite_btn {
    color: #6f7c80;
}

.arrow {
    color: #cadae4;
}