.cF5C5B5{background-color:#F5C5B5; }/*ピーチピンク*/
.cEB9180{background-color:#EB9180; }/*オーロラ*/
.cE67687{background-color:#E67687; }/*カーネーションピンク*/
.cDF495C{background-color:#DF495C; }/*ウォームピンク*/
.cDC3E3B{background-color:#DC3E3B; }/*スカーレッド*/
.cD82332{background-color:#D82332; }/*トマトレッド*/
.cDC3E33{background-color:#DC3E33; }/*チャイナレッド*/
.c5E5191{background-color:#5E5191; }/*アイリス*/
.c70619B{background-color:#70619B; }/*パンジー*/
.c02222C{background-color:#02222C; }/*ロンドントワイライト*/
.c00A59C{background-color:#00A59C; }/*ターコイズ*/
.c52BBB9{background-color:#52BBB9; }/*ケンブリッジブルー*/
.c96D0C3{background-color:#96D0C3; }/*ライトアクア*/
.c15A748{background-color:#15A748; }/*パロットグリーン*/
.c00A756{background-color:#00A756; }/*スプリングノート*/
.c6CB744{background-color:#6CB744; }/*アップルグリーン*/
.c9BC962{background-color:#9BC962; }/*スプリンググリーン*/
.cFBD79E{background-color:#FBD79E; }/*ハニーイエロー*/
.cFFE86D{background-color:#FFE86D; }/*カナリアイエロー*/
.cFFDB3D{background-color:#FFDB3D; }/*ミモザ*/
.cF6BD25{background-color:#F6BD25; }/*バナナイエロー*/
.cE77D62{background-color:#E77D62; }/*シャンパンオレンジ*/
.cE46A51{background-color:#E46A51; }/*ルミナスコーラル*/
.cC93D35{background-color:#C93D35; }/*バレンシア*/
.cED9643{background-color:#ED9643; }/*フロリダゴールド*/
.c8A502F{background-color:#8A502F; }/*マロン*/
.c6B4531{background-color:#6B4531; }/*コーヒーブラウン*/
.c9D6630{background-color:#9D6630; }/*キャメル*/
.cD1A476{background-color:#D1A476; }/*ビスケット*/
.cFDF1D5{background-color:#FDF1D5; }/*フローラルホワイト*/
.cFFF5DC{background-color:#FFF5DC; }/*アイボリー*/
.cBDBEB9{background-color:#BDBEB9; }/*カント*/
.cF9DCE4{background-color:#F9DCE4; }/*ベビーピンク*/
.cEEB0C7{background-color:#EEB0C7; }/*パステルピンク*/
.cDAABBB{background-color:#DAABBB; }/*オールドローズ*/
.cEA91A5{background-color:#EA91A5; }/*イタリアンローズ*/
.cE995B6{background-color:#E995B6; }/*ローズピンク*/
.cE67487{background-color:#E67487; }/*チェリーーピンク*/
.cCF1F3D{background-color:#CF1F3D; }/*ストロベリーレッド*/
.cC52037{background-color:#C52037; }/*チェリーレッド*/
.cC83856{background-color:#C83856; }/*ウォーターメロンローズ*/
.cB41D42{background-color:#B41D42; }/*ディープレッド*/
.c954475{background-color:#954475; }/*ラズベリー*/
.cDFC0D2{background-color:#DFC0D2; }/*ペールライラック*/
.c948EB9{background-color:#948EB9; }/*ラベンダー*/
.c718CBA{background-color:#718CBA; }/*ラベンダーブルー*/
.c819CC0{background-color:#819CC0; }/*ゼニスブルー*/
.c5D9FCA{background-color:#5D9FCA; }/*ゼファブルー*/
.cC7E8F1{background-color:#C7E8F1; }/*ペールアクア*/
.c3B6CA7{background-color:#3B6CA7; }/*ウェッジウッドブルー*/
.c2E79B1{background-color:#2E79B1; }/*キャンパスブルー*/
.c203A6B{background-color:#203A6B; }/*インクブルー*/
.c008B81{background-color:#008B81; }/*ビリジアン*/
.c00957A{background-color:#00957A; }/*エメラルドグリーン*/
.c79C6BB{background-color:#79C6BB; }/*ミントグリーン*/
.cFFEF8C{background-color:#FFEF8C; }/*シトラスイエロー*/
.cD0AA98{background-color:#D0AA98; }/*バーリーウッド*/
.cB3978A{background-color:#B3978A; }/*シャンパーニュ*/
.c624B47{background-color:#624B47; }/*ココア*/
.c664F48{background-color:#664F48; }/*ローズブラウン*/
.c374D56{background-color:#374D56; }/*ダークブルーフォグ*/
.c6F8D96{background-color:#6F8D96; }/*アッシュグレイ*/
.cDCE3E8{background-color:#DCE3E8; }/*ブルーミスト*/
.cF8F7F6{background-color:#F8F7F6; }/*オフホワイト*/
.cF6C49D{background-color:#F6C49D; }
.cE7746A{background-color:#E7746A; }
.cE05434{background-color:#E05434; }
.cD03036{background-color:#D03036; }
.cC4312A{background-color:#C4312A; }
.cA3322D{background-color:#A3322D; }
.c6A3978{background-color:#6A3978; }
.c479FA2{background-color:#479FA2; }
.c00656F{background-color:#00656F; }
.c252329{background-color:#252329; }
.c123F2A{background-color:#123F2A; }
.c5F6959{background-color:#5F6959; }
.c606D3C{background-color:#606D3C; }
.c868455{background-color:#868455; }
.c67AA7C{background-color:#67AA7C; }
.c86AF3F{background-color:#86AF3F; }
.cF4B329{background-color:#F4B329; }
.cCC8532{background-color:#CC8532; }
.cED9636{background-color:#ED9636; }
.cE77C56{background-color:#E77C56; }
.cDD652B{background-color:#DD652B; }
.cE77A39{background-color:#E77A39; }
.cC5652F{background-color:#C5652F; }
.cAE6A2E{background-color:#AE6A2E; }
.c634A37{background-color:#634A37; }
.c4A3B2B{background-color:#4A3B2B; }
.c736950{background-color:#736950; }
.cB18956{background-color:#B18956; }
.cC8B187{background-color:#C8B187; }
.cCAB17C{background-color:#CAB17C; }
.cB8B193{background-color:#B8B193; }
.cFFEDCA{background-color:#FFEDCA; }
.cFCE8F2{background-color:#FCE8F2; }
.cE3608C{background-color:#E3608C; }
.cDF82AB{background-color:#DF82AB; }
.cDD3A74{background-color:#DD3A74; }
.cDB3986{background-color:#DB3986; }
.c961F62{background-color:#961F62; }
.cB52037{background-color:#B52037; }
.cB4233E{background-color:#B4233E; }
.cB7244A{background-color:#B7244A; }
.c7D293F{background-color:#7D293F; }
.c412162{background-color:#412162; }
.c442C79{background-color:#442C79; }
.cE4E1F7{background-color:#E4E1F7; }
.c090020{background-color:#090020; }
.c1B4D91{background-color:#1B4D91; }
.c214F85{background-color:#214F85; }
.c0074B0{background-color:#0074B0; }
.c00A8D3{background-color:#00A8D3; }
.cACDCEC{background-color:#ACDCEC; }
.cE1F3F9{background-color:#E1F3F9; }
.c155248{background-color:#155248; }
.c006141{background-color:#006141; }
.cFFEE10{background-color:#FFEE10; }
.cF5ED58{background-color:#F5ED58; }
.cF9F8D5{background-color:#F9F8D5; }
.cEDE8DE{background-color:#EDE8DE; }
.c2A0010{background-color:#2A0010; }
.c262E32{background-color:#262E32; }
.c0B0A08{background-color:#0B0A08; }
.c9E9F9E{background-color:#9E9F9E; }
.cCBCCCB{background-color:#CBCCCB; }
.cFFFFFF{background-color:#FFFFFF; }
