.alert-danger {
    background: #FFB080 rgba(255, 255, 255, 0.1);
    color: #fff;
    letter-spacing: .2rem;
}

.alert-success {
    background: #89E5F7; 
    color: #fff;
    letter-spacing: .2rem;
    margin-bottom: 0;
}

.alert-warning {
    background: #ffe179;
    color: #fff;
    letter-spacing: .2rem;
}

