.all_rights_reserved {
    color: #93A2AC;
}

.footer_logo_size {
    height: 2.5rem;
 }

 .footer_link {
    font-size: 12px;
    letter-spacing: .2rem;
 }

 #container_root_footer{
    background:#93A2AC;
    padding:50px 0 122px 0;
    text-align: center;
 }
