h1 {
    color: #ffa9ac;
    letter-spacing: .1rem;
    font-size: 1.4em;
}

.title {
    padding-top: 20px; 
}

.submit_btn {
    background: #ffa9ac;
    letter-spacing: .2rem;
    padding: 10px 0;
    margin: 10px 0 20px 0;
}

.submit_btn:hover {
    background: #fcbdbf;
}

.announcement {
    color: #93A2AC;
    padding: 15px 0;
    margin: 10px 0;
    font-size: 0.8em;
}

.form_input {
    color: #93A2AC;
    padding: 5px 0;
}