.policy_title {
   color: #535E61;
   font-size: 16px;
   font-weight: 500;
}

.policy_content {
    color: #8e9fa4;
    font-size: 14px;  
}

.policy_list {
    color: #8e9fa4;
    font-size: 14px; 
    padding-left: 2em;
    margin: 0;
}

.policy_list li {
    display: list-item;
    list-style: disc;
}