 .question_num {
    color: #6f7c80;
    font-weight: 300;
 }

.quiz_title {
    color: #535E61;
    letter-spacing: .1rem;
 }


.choice_btn {
    a {
        display: block;
        width: 100%;
        text-align: center;
        color: #93A2AC;
    }
    a:hover {
        color: #FFB080;
    }
}

.retry_btn_background {
    background-color: #93A2AC;
}

.retry_btn {
    a {
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
    }
    a:hover {
        color: #FFB080;
    }
}

.back_link {
    color: #93A2AC;
}

.back_link:hover {
    color: #FFB080;
}

.delete_btn_from_mistakes {
    a{
        color: #93A2AC;
    }
    a:hover {
        color: #FFB080;
    }
}

.correct_answer_judgement {
    color: #535E61;
    letter-spacing: .1rem;
    font-weight: 500;
    font-size: 1.3em;
}

.incorrect_answer_judgement {
    color: #535E61;
    letter-spacing: .1rem;
    font-weight: 500;
    font-size: 1.3em;
}

.answer_explanation {
    color: #535E61;
    letter-spacing: .1rem;
    span {
        color: #FFB080;
    }
}

.answer_color_name {
    color: #535E61;
    letter-spacing: .1rem;
}

.no_result {
    color: #535E61;
    letter-spacing: .1rem;
}

.result_area {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 2px #95ccff;
    border-image: linear-gradient(to right, #FFB080 0%, #FFB1CA 100%);
    border-image-slice: 1;
    border-radius: 8px;
    .box-title {
        position: absolute;
        display: inline-block;
        top: -13px;
        left: 10px;
        padding: 0 9px;
        line-height: 1;
        font-size: 19px;
        background: #F8F8F8;
        color: #FFB080;
        font-weight: 500;
    }
    p {
        color: #FFB080;
        display:inline-block;
        letter-spacing: .1rem;
    }
}

#count {
    color: #FFB080;
    font-size: 28px;
}