.trialbtn {
    color: #93A2AC;
    display: block;
    width: 100%;   
}
.trialbtn:hover {
    color: #FFB080;
    cursor: pointer;
}

.hidden{
    display: none;
  }

.calltoaction {
    color: #fa6c9f;  
}


.trialsignupbtn {
    display: inline-block;
    padding: 18px 80px;  
    border-radius:30px;
    text-decoration: none;
    border:1px solid #fa6c9f;
    color: #fa6c9f;
    outline: none;
    letter-spacing: .1rem;
}

.trialsignupbtn:hover {
    border-color:transparent;
    color: #fff;
    background: #fa6c9f;
}
