.trialbtn {
    color: #93A2AC;
    display: block;
    width: 100%;   
}
.trialbtn:hover {
    color: #FFB080;
    cursor: pointer;
}

.hidden{
    display: none;
  }

  
.trial-signup_btn_background {
    background: linear-gradient(-85deg,#CFBAFF, #89E5F8, #FFE279) fixed; 
    background-size: 300% 300%; 
    animation: GradietionAnimation 10s infinite;
}

.trial-signup_btn {
    a {
        display: block;
        width: 100%;
        text-align: center;
        color: #F8F8F8;
        letter-spacing: .2rem;
        font-weight: 500;
        font-size: 1.3em;
    }
    a:hover {
        color: #FFB080;
    }
}

.calltoaction {
    color: #93A2AC;
    
}
