<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">色名</th>
            <th scope="col">カラーコード</th>
            <th scope="col">css_class</th>
            <th scope="col">season_type</th>
            <th scope="col">category_id</th>
          </tr>
          </thead>
          <tbody>
            <%= render @colors %>
          </tbody>
        </table>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>