<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">ユーザー名</th>
            <th scope="col">権限</th>
            <th scope="col">メールアドレス</th>
            <th scope="col">登録日</th>
          </tr>
          </thead>
          <tbody>
            <%= render @users %>
          </tbody>
        </table>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>