<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info">
        <a href="#" class="d-block">
         <%= current_user.name %>
        </a>
      </div>
    </div>
    
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to admin_users_path, class: "nav-link", method: :get do %>
            <i class="nav-icon fas fa-user"></i>
            <p>
              ユーザー一覧
            </p>
          <% end %>
        </li>
      </ul>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <%= link_to admin_colors_path, class: "nav-link", method: :get do %>
            <i class="nav-icon fas fa-file"></i>
            <p>
              色一覧
            </p>
          <% end %>
        </li>
      </ul>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>